################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WA1/FileContentIndex/5260569c-8d8a-45e2-86a5-680d89c47a35.vsidx
